In [2]:
#Dependencies

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

%matplotlib inline

In [3]:
file_path3 = "Data_Sources/title.basics.tsv.gz"
title_basics_df = pd.read_csv(file_path3, compression='gzip', sep='\t')
title_basics_df.head()

C:\Users\amudd\AppData\Local\Temp\ipykernel_14376\882156001.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basics_df = pd.read_csv(file_path3, compression='gzip', sep='\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [4]:
title_basics_df.nunique()

tconst            9590764
titleType              11
primaryTitle      4365467
originalTitle     4386780
isAdult                11
startYear             152
endYear                97
runtimeMinutes        885
genres               2343
dtype: int64

In [5]:
for i in title_basics_df.columns:
    print(i, len(title_basics_df[i].unique()))

tconst 9590764
titleType 11
primaryTitle 4365468
originalTitle 4386781
isAdult 11
startYear 152
endYear 97
runtimeMinutes 885
genres 2344

In [6]:
title_basics_df.isnull().sum()

tconst             0
titleType          0
primaryTitle      11
originalTitle     11
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [7]:
middle_index = len(title_basics_df) // 2

#displaying first few rows and last few rows around the middle
print(title_basics_df.iloc[middle_index-5:middle_index+5])

             tconst  titleType     primaryTitle    originalTitle isAdult  \
4795377   tt1828259      short     Oi kanapedes     Oi kanapedes       0
4795378  tt18282600  tvEpisode  Episode #1.2627  Episode #1.2627       0
4795379  tt18282602  tvEpisode  Episode #1.2628  Episode #1.2628       0
4795380  tt18282604  tvEpisode  Episode #1.2629  Episode #1.2629       0
4795381  tt18282606  tvEpisode  Episode #1.2630  Episode #1.2630       0
4795382   tt1828260      movie     On the Ropes     On the Ropes       0
4795383  tt18282610  tvEpisode  Episode #1.2632  Episode #1.2632       0
4795384  tt18282612  tvEpisode  Episode #1.2631  Episode #1.2631       0
4795385  tt18282614  tvEpisode  Episode #1.2633  Episode #1.2633       0
4795386  tt18282616  tvEpisode  Episode #1.2634  Episode #1.2634       0

        startYear endYear runtimeMinutes                      genres
4795377      1998      \N              5                       Short
4795378        \N      \N             \N  Adventure,Animation,Comedy
4795379        \N      \N             \N  Adventure,Animation,Comedy
4795380        \N      \N             \N  Adventure,Animation,Comedy
4795381        \N      \N             \N  Adventure,Animation,Comedy
4795382      2011      \N             94                      Comedy
4795383        \N      \N             \N  Adventure,Animation,Comedy
4795384        \N      \N             \N  Adventure,Animation,Comedy
4795385        \N      \N             \N  Adventure,Animation,Comedy
4795386        \N      \N             \N  Adventure,Animation,Comedy

In [8]:
title_types = title_basics_df['titleType'].value_counts()
print(title_types)

tvEpisode       7264307
short            912329
movie            634711
video            270131
tvSeries         238109
tvMovie          140300
tvMiniSeries      47111
tvSpecial         40402
videoGame         33439
tvShort            9923
tvPilot               2
Name: titleType, dtype: int64

#### For the movie recommendation system we only need the movies and all values associated with movies ####

In [9]:
movietitle_df = title_basics_df[title_basics_df['titleType'] == 'movie']
movietitle_df

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,100,"Documentary,News,Sport"
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
...,...,...,...,...,...,...,...,...,...
9590655,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
9590682,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
9590694,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
9590704,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N
9590714,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary

In [10]:
#originalTitle (string) - original title, in the original language. We do need this column as primaryTitle is the title when film was released to public.
movietitle_df = movietitle_df.drop(columns=['originalTitle'])

In [23]:
movietitle_df = movietitle_df.reset_index(drop=True)
movietitle_df.tail(30)

,tconst,titleType,primaryTitle,isAdult,startYear,endYear,runtimeMinutes,genres
634681,tt9915456,movie,Faith's Choice,0,\N,\N,\N,Drama
634682,tt9915536,movie,Side Effect,0,\N,\N,\N,"Action,Sci-Fi"
634683,tt9915592,movie,A Husband to Rent,0,1974,\N,\N,Comedy
634684,tt9915736,movie,Liebestraum,0,\N,\N,\N,Musical
634685,tt9915790,movie,Bobbyr Bondhura,0,2019,\N,106,Family
634686,tt9915808,movie,Salt Lake,0,\N,\N,\N,"Drama,Thriller"
634687,tt9915872,movie,The Last White Witch,0,2019,\N,97,"Comedy,Drama,Fantasy"
634688,tt9915946,movie,Nuestra película,0,1993,\N,96,Documentary
634689,tt9916058,movie,"Cali: ayer, hoy y mañana",0,1995,\N,250,Documentary
634690,tt9916100,movie,Inventing Robert Capa,0,\N,\N,\N,"Biography,Drama,War"
634691,tt9916124,movie,Mucho gusto,0,1997,\N,108,Documentary
634692,tt9916132,movie,The Mystery of a Buryat Lama,0,2018,\N,94,"Biography,Documentary,History"
634693,tt9916134,movie,The Thing in the Bag,0,\N,\N,78,\N
634694,tt9916160,movie,Drømmeland,0,2019,\N,72,Documentary
634695,tt9916162,movie,Making of 'La Virgen de los sicarios',0,1999,\N,45,Documentary
634696,tt9916170,movie,The Rehearsal,0,2019,\N,51,Drama
634697,tt9916178,movie,Yesterday's Dreams,0,\N,\N,\N,\N
634698,tt9916186,movie,Illenau - die Geschichte einer ehemaligen Heil...,0,2017,\N,84,Documentary
634699,tt9916188,movie,Minotaur,0,\N,\N,\N,Thriller
634700,tt9916190,movie,Safeguard,0,2020,\N,95,"Action,Adventure,Thriller"
634701,tt9916270,movie,Il talento del calabrone,0,2020,\N,84,Thriller
634702,tt9916362,movie,Coven,0,2020,\N,92,"Drama,History"
634703,tt9916428,movie,The Secret of China,0,2019,\N,\N,"Adventure,History,War"
634704,tt9916538,movie,Kuambil Lagi Hatiku,0,2019,\N,123,Drama
634705,tt9916620,movie,The Copeland Case,0,\N,\N,\N,Drama
634706,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
634707,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
634708,tt9916706,movie,Dankyavar Danka,0,2013,\N,\N,Comedy
634709,tt9916730,movie,6 Gunn,0,2017,\N,116,\N
634710,tt9916754,movie,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary

In [26]:
#Checking for popular movies
target_titles = ['Avatar', 'Avengers', 'Star Wars', 'Superbad', 'Thor', 'Avengers: Endgame']
mask = movietitle_df['primaryTitle'].isin(target_titles)
result = movietitle_df.loc[mask]
print(result)

            tconst titleType       primaryTitle isAdult startYear endYear  \
97569    tt0154182     movie             Avatar       0      1941      \N
154530   tt0278325     movie             Avatar       0      1916      \N
214632   tt0499549     movie             Avatar       0      2009      \N
217404   tt0800369     movie               Thor       0      2011      \N
219303   tt0829482     movie           Superbad       0      2007      \N
325693  tt14473344     movie               Thor       0      1985      \N
375186   tt1775309     movie             Avatar       0      2011      \N
501646   tt4154796     movie  Avengers: Endgame       0      2019      \N
529458   tt5151440     movie               Thor       0      1962      \N

       runtimeMinutes                    genres
97569              \N                     Drama
154530             50             Drama,Fantasy
214632            162  Action,Adventure,Fantasy
217404            115            Action,Fantasy
219303            113                    Comedy
325693             \N                     Drama
375186             93                    Horror
501646            181    Action,Adventure,Drama
529458             \N            Action,Fantasy

In [12]:
freq_ofN = movietitle_df[movietitle_df == '\\N'].count()
print(freq_ofN)

tconst                 0
titleType              0
primaryTitle           0
isAdult                0
startYear          88112
endYear           634711
runtimeMinutes    233954
genres             71758
dtype: int64

In [13]:
movietitle_df.shape

(634711, 8)

In [14]:
file_path6 = "Data_Sources/title.ratings.tsv.gz"
title_ratings_df = pd.read_csv(file_path6, compression='gzip', sep='\t')
title_ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1949
1  tt0000002            5.8       264
2  tt0000003            6.5      1779
3  tt0000004            5.6       179
4  tt0000005            6.2      2583

In [15]:
title_ratings_df.shape

(1276330, 3)

In [16]:
title_ratings_df.nunique()

tconst           1276330
averageRating         91
numVotes           21031
dtype: int64

In [17]:
title_ratings_df.isnull().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

In [19]:
print (title_ratings_df.shape)
print (movietitle_df.shape)

(1276330, 3)
(634711, 8)

In [29]:
#Need to filter ratings df to only display ratings of movies, then merge on tconst.
movie_title_ratings_df = title_ratings_df[title_ratings_df["tconst"].isin(title_basics_df[title_basics_df["titleType"] == "movie"]["tconst"])]
movie_title_ratings_df.head(10)

        tconst  averageRating  numVotes
8    tt0000009            5.3       204
144  tt0000147            5.2       466
325  tt0000502            4.1        15
357  tt0000574            6.0       808
364  tt0000591            4.4        20
378  tt0000615            4.3        24
385  tt0000630            2.8        26
415  tt0000675            4.2        20
417  tt0000679            5.2        67
525  tt0000862            4.4        17

In [33]:
movie_title_ratings_df = movie_title_ratings_df.reset_index(drop=True)
movie_title_ratings_df.head(10)

      tconst  averageRating  numVotes
0  tt0000009            5.3       204
1  tt0000147            5.2       466
2  tt0000502            4.1        15
3  tt0000574            6.0       808
4  tt0000591            4.4        20
5  tt0000615            4.3        24
6  tt0000630            2.8        26
7  tt0000675            4.2        20
8  tt0000679            5.2        67
9  tt0000862            4.4        17

In [32]:
print(movietitle_df.shape)
print(movie_title_ratings_df.shape)

(634711, 8)
(286806, 3)

In [36]:
#merging the dataframes
merged_df = pd.merge(movietitle_df, movie_title_ratings_df, on='tconst', how='inner')
merged_df.tail(30)

,tconst,titleType,primaryTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
286776,tt9910930,movie,Jeg ser deg,0,2019,\N,75,"Crime,Documentary",5.6,9
286777,tt9911006,movie,Ormma,0,2019,\N,127,Drama,6.9,9
286778,tt9911196,movie,The Marriage Escape,0,2020,\N,103,"Comedy,Drama",7.5,2841
286779,tt9911306,movie,Kalikkoottukar,0,2019,\N,145,"Drama,Romance",3.2,22
286780,tt9911774,movie,Padmavyuhathile Abhimanyu,0,2019,\N,130,Drama,8.5,378
286781,tt9913056,movie,Swarm Season,0,2019,\N,86,Documentary,6.6,36
286782,tt9913084,movie,Diabolik sono io,0,2019,\N,75,Documentary,6.8,48
286783,tt9913660,movie,No Apology,0,2019,\N,102,Drama,5.6,68
286784,tt9913872,movie,De la piel del Diablo,0,2019,\N,75,Thriller,3.4,16
286785,tt9913936,movie,Paradise,0,2019,\N,135,"Crime,Drama",7.5,59
286786,tt9914192,movie,No Gogó do Paulinho,0,2020,\N,98,Comedy,5.4,279
286787,tt9914254,movie,A Cherry Tale,0,2019,\N,85,Documentary,7.1,8
286788,tt9914286,movie,Sokagin Çocuklari,0,2019,\N,98,"Drama,Family",5.0,217
286789,tt9914642,movie,Albatross,0,2017,\N,97,Documentary,8.3,42
286790,tt9914644,movie,9/11: Escape from the Towers,0,2018,\N,120,Documentary,8.3,107
286791,tt9914662,movie,Wien is 't Hof van Commerce,0,2018,\N,\N,Comedy,7.4,6
286792,tt9914942,movie,Life Without Sara Amat,0,2019,\N,74,Drama,6.7,171
286793,tt9914972,movie,Blind Ambition,0,2021,\N,96,Documentary,7.2,238
286794,tt9915436,movie,Vida em Movimento,0,2019,\N,70,Documentary,7.4,5
286795,tt9915790,movie,Bobbyr Bondhura,0,2019,\N,106,Family,7.2,39
286796,tt9915872,movie,The Last White Witch,0,2019,\N,97,"Comedy,Drama,Fantasy",7.3,8
286797,tt9915946,movie,Nuestra película,0,1993,\N,96,Documentary,6.9,9
286798,tt9916160,movie,Drømmeland,0,2019,\N,72,Documentary,6.3,50
286799,tt9916170,movie,The Rehearsal,0,2019,\N,51,Drama,7.0,7
286800,tt9916190,movie,Safeguard,0,2020,\N,95,"Action,Adventure,Thriller",3.7,241
286801,tt9916270,movie,Il talento del calabrone,0,2020,\N,84,Thriller,5.8,1392
286802,tt9916362,movie,Coven,0,2020,\N,92,"Drama,History",6.4,5175
286803,tt9916428,movie,The Secret of China,0,2019,\N,\N,"Adventure,History,War",3.8,14
286804,tt9916538,movie,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.3,6
286805,tt9916730,movie,6 Gunn,0,2017,\N,116,\N,8.1,9