In [1]:
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
# Load the dataset
movie_df = pd.read_csv('Data_Sources/ml_movies.csv')
movie_df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [3]:
movies_data_df = movie_df.drop(['status', 'index', 'homepage', 'spoken_languages', 'overview', 'tagline', 'keywords', 'id', 'crew'], axis=1)
movies_data_df.head(3)

,budget,genres,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,title,vote_average,vote_count,cast,director
0,237000000,Action Adventure Fantasy Science Fiction,en,Avatar,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",12/10/2009,2787965087,162.0,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron
1,300000000,Adventure Fantasy Action,en,Pirates of the Caribbean: At World's End,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",5/19/2007,961000000,169.0,Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski
2,245000000,Action Adventure Crime,en,Spectre,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",10/26/2015,880674609,148.0,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Sam Mendes

In [4]:
movies_data_df = movies_data_df.drop(['original_title', 'production_companies', 'production_countries', 'release_date', 'title', 'vote_count'], axis=1)
movies_data_df

,budget,genres,original_language,popularity,revenue,runtime,vote_average,cast,director
0,237000000,Action Adventure Fantasy Science Fiction,en,150.437577,2787965087,162.0,7.2,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron
1,300000000,Adventure Fantasy Action,en,139.082615,961000000,169.0,6.9,Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski
2,245000000,Action Adventure Crime,en,107.376788,880674609,148.0,6.3,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Sam Mendes
3,250000000,Action Crime Drama Thriller,en,112.312950,1084939099,165.0,7.6,Christian Bale Michael Caine Gary Oldman Anne ...,Christopher Nolan
4,260000000,Action Adventure Science Fiction,en,43.926995,284139100,132.0,6.1,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Andrew Stanton
...,...,...,...,...,...,...,...,...,...
4798,220000,Action Crime Thriller,es,14.269792,2040920,81.0,6.6,Carlos Gallardo Jaime de Hoyos Peter Marquardt...,Robert Rodriguez
4799,9000,Comedy Romance,en,0.642552,0,85.0,5.9,Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...,Edward Burns
4800,0,Comedy Drama Romance TV Movie,en,1.444476,0,120.0,7.0,Eric Mabius Kristin Booth Crystal Lowe Geoff G...,Scott Smith
4801,0,NaN,en,0.857008,0,98.0,5.7,Daniel Henney Eliza Coupe Bill Paxton Alan Ruc...,Daniel Hsia
4802,0,Documentary,en,1.929883,0,90.0,6.3,Drew Barrymore Brian Herzlinger Corey Feldman ...,Brian Herzlinger

In [5]:
movies_data_df.isna().sum()

budget                0
genres               28
original_language     0
popularity            0
revenue               0
runtime               2
vote_average          0
cast                 43
director             36
dtype: int64

In [6]:
movies_data_df = movies_data_df.dropna(subset=['genres', 'runtime','cast', 'director', 'cast', 'director' ])
movies_data_df.isna().sum()

budget               0
genres               0
original_language    0
popularity           0
revenue              0
runtime              0
vote_average         0
cast                 0
director             0
dtype: int64

In [7]:
movies_data_df

,budget,genres,original_language,popularity,revenue,runtime,vote_average,cast,director
0,237000000,Action Adventure Fantasy Science Fiction,en,150.437577,2787965087,162.0,7.2,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron
1,300000000,Adventure Fantasy Action,en,139.082615,961000000,169.0,6.9,Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski
2,245000000,Action Adventure Crime,en,107.376788,880674609,148.0,6.3,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Sam Mendes
3,250000000,Action Crime Drama Thriller,en,112.312950,1084939099,165.0,7.6,Christian Bale Michael Caine Gary Oldman Anne ...,Christopher Nolan
4,260000000,Action Adventure Science Fiction,en,43.926995,284139100,132.0,6.1,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Andrew Stanton
...,...,...,...,...,...,...,...,...,...
4796,7000,Science Fiction Drama Thriller,en,23.307949,424760,77.0,6.9,Shane Carruth David Sullivan Casey Gooden Anan...,Shane Carruth
4798,220000,Action Crime Thriller,es,14.269792,2040920,81.0,6.6,Carlos Gallardo Jaime de Hoyos Peter Marquardt...,Robert Rodriguez
4799,9000,Comedy Romance,en,0.642552,0,85.0,5.9,Edward Burns Kerry Bish\u00e9 Marsha Dietlein ...,Edward Burns
4800,0,Comedy Drama Romance TV Movie,en,1.444476,0,120.0,7.0,Eric Mabius Kristin Booth Crystal Lowe Geoff G...,Scott Smith
4802,0,Documentary,en,1.929883,0,90.0,6.3,Drew Barrymore Brian Herzlinger Corey Feldman ...,Brian Herzlinger

In [8]:
movies_data_df.dtypes

budget                 int64
genres                object
original_language     object
popularity           float64
revenue                int64
runtime              float64
vote_average         float64
cast                  object
director              object
dtype: object

In [9]:
movies_data_df.loc[:, 'runtime'] = movies_data_df['runtime'].astype(int)
movies_data_df.loc[:, 'genres'] = movies_data_df['genres'].astype(str)
movies_data_df.loc[:, 'original_language'] = movies_data_df['original_language'].astype(str)
movies_data_df.loc[:, 'cast'] = movies_data_df['cast'].astype(str)
movies_data_df.loc[:, 'director'] = movies_data_df['director'].astype(str)
movies_data_df.dtypes

C:\Users\amudd\AppData\Local\Temp\ipykernel_24524\1927095445.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df.loc[:, 'runtime'] = movies_data_df['runtime'].astype(int)
C:\Users\amudd\AppData\Local\Temp\ipykernel_24524\1927095445.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df.loc[:, 'genres'] = movies_data_df['genres'].astype(str)
C:\Users\amudd\AppData\Local\Temp\ipykernel_24524\1927095445.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df.loc[:, 'original_language'] = movies_data_df['original_language'].astype(str)
C:\Users\amudd\AppData\Local\Temp\ipykernel_24524\1927095445.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df.loc[:, 'cast'] = movies_data_df['cast'].astype(str)
C:\Users\amudd\AppData\Local\Temp\ipykernel_24524\1927095445.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df.loc[:, 'director'] = movies_data_df['director'].astype(str)

budget                 int64
genres                object
original_language     object
popularity           float64
revenue                int64
runtime                int32
vote_average         float64
cast                  object
director              object
dtype: object

In [10]:
# Determine the number of unique values in each column.
movies_data_df.nunique()

budget                432
genres               1165
original_language      37
popularity           4731
revenue              3288
runtime               155
vote_average           69
cast                 4713
director             2319
dtype: int64

In [11]:
movies_data_df['cast'] = movies_data_df['cast'].apply(lambda x: ', '.join([f"{a} {b}" for a, b in zip(x.split()[::2], x.split()[1::2])]))
movies_data_df['cast']

C:\Users\amudd\AppData\Local\Temp\ipykernel_24524\1167377708.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df['cast'] = movies_data_df['cast'].apply(lambda x: ', '.join([f"{a} {b}" for a, b in zip(x.split()[::2], x.split()[1::2])]))

0       Sam Worthington, Zoe Saldana, Sigourney Weaver...
1       Johnny Depp, Orlando Bloom, Keira Knightley, S...
2       Daniel Craig, Christoph Waltz, L\u00e9a Seydou...
3       Christian Bale, Michael Caine, Gary Oldman, An...
4       Taylor Kitsch, Lynn Collins, Samantha Morton, ...
                              ...
4796    Shane Carruth, David Sullivan, Casey Gooden, A...
4798    Carlos Gallardo, Jaime de, Hoyos Peter, Marqua...
4799    Edward Burns, Kerry Bish\u00e9, Marsha Dietlei...
4800    Eric Mabius, Kristin Booth, Crystal Lowe, Geof...
4802    Drew Barrymore, Brian Herzlinger, Corey Feldma...
Name: cast, Length: 4732, dtype: object

In [12]:
movies_data_df['genres'] = movies_data_df['genres'].str.replace(' ', ',')
movies_data_df['genres']

C:\Users\amudd\AppData\Local\Temp\ipykernel_24524\4271959706.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df['genres'] = movies_data_df['genres'].str.replace(' ', ',')

0       Action,Adventure,Fantasy,Science,Fiction
1                       Adventure,Fantasy,Action
2                         Action,Adventure,Crime
3                    Action,Crime,Drama,Thriller
4               Action,Adventure,Science,Fiction
                          ...
4796              Science,Fiction,Drama,Thriller
4798                       Action,Crime,Thriller
4799                              Comedy,Romance
4800               Comedy,Drama,Romance,TV,Movie
4802                                 Documentary
Name: genres, Length: 4732, dtype: object

In [13]:
movies_data_df

,budget,genres,original_language,popularity,revenue,runtime,vote_average,cast,director
0,237000000,"Action,Adventure,Fantasy,Science,Fiction",en,150.437577,2787965087,162,7.2,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",James Cameron
1,300000000,"Adventure,Fantasy,Action",en,139.082615,961000000,169,6.9,"Johnny Depp, Orlando Bloom, Keira Knightley, S...",Gore Verbinski
2,245000000,"Action,Adventure,Crime",en,107.376788,880674609,148,6.3,"Daniel Craig, Christoph Waltz, L\u00e9a Seydou...",Sam Mendes
3,250000000,"Action,Crime,Drama,Thriller",en,112.312950,1084939099,165,7.6,"Christian Bale, Michael Caine, Gary Oldman, An...",Christopher Nolan
4,260000000,"Action,Adventure,Science,Fiction",en,43.926995,284139100,132,6.1,"Taylor Kitsch, Lynn Collins, Samantha Morton, ...",Andrew Stanton
...,...,...,...,...,...,...,...,...,...
4796,7000,"Science,Fiction,Drama,Thriller",en,23.307949,424760,77,6.9,"Shane Carruth, David Sullivan, Casey Gooden, A...",Shane Carruth
4798,220000,"Action,Crime,Thriller",es,14.269792,2040920,81,6.6,"Carlos Gallardo, Jaime de, Hoyos Peter, Marqua...",Robert Rodriguez
4799,9000,"Comedy,Romance",en,0.642552,0,85,5.9,"Edward Burns, Kerry Bish\u00e9, Marsha Dietlei...",Edward Burns
4800,0,"Comedy,Drama,Romance,TV,Movie",en,1.444476,0,120,7.0,"Eric Mabius, Kristin Booth, Crystal Lowe, Geof...",Scott Smith
4802,0,Documentary,en,1.929883,0,90,6.3,"Drew Barrymore, Brian Herzlinger, Corey Feldma...",Brian Herzlinger

In [14]:
# Split cast column and get first element
movies_data_df['cast'] = movies_data_df['cast'].str.split(',').str[0]

# Split genres column and get first element
movies_data_df['genres'] = movies_data_df['genres'].str.split(',').str[0]

movies_data_df

C:\Users\amudd\AppData\Local\Temp\ipykernel_24524\4167340075.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df['cast'] = movies_data_df['cast'].str.split(',').str[0]
C:\Users\amudd\AppData\Local\Temp\ipykernel_24524\4167340075.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df['genres'] = movies_data_df['genres'].str.split(',').str[0]

,budget,genres,original_language,popularity,revenue,runtime,vote_average,cast,director
0,237000000,Action,en,150.437577,2787965087,162,7.2,Sam Worthington,James Cameron
1,300000000,Adventure,en,139.082615,961000000,169,6.9,Johnny Depp,Gore Verbinski
2,245000000,Action,en,107.376788,880674609,148,6.3,Daniel Craig,Sam Mendes
3,250000000,Action,en,112.312950,1084939099,165,7.6,Christian Bale,Christopher Nolan
4,260000000,Action,en,43.926995,284139100,132,6.1,Taylor Kitsch,Andrew Stanton
...,...,...,...,...,...,...,...,...,...
4796,7000,Science,en,23.307949,424760,77,6.9,Shane Carruth,Shane Carruth
4798,220000,Action,es,14.269792,2040920,81,6.6,Carlos Gallardo,Robert Rodriguez
4799,9000,Comedy,en,0.642552,0,85,5.9,Edward Burns,Edward Burns
4800,0,Comedy,en,1.444476,0,120,7.0,Eric Mabius,Scott Smith
4802,0,Documentary,en,1.929883,0,90,6.3,Drew Barrymore,Brian Herzlinger

In [15]:
# Create a new column 'is_successful' with 1 for successful movies and 0 for unsuccessful movies
movies_data_df['Is_Successful'] = ((movies_data_df['revenue'] - movies_data_df['budget']) > 0) & (movies_data_df['vote_average'] >= 6.3)
movies_data_df['Is_Successful'] = movies_data_df['Is_Successful'].astype(int)
movies_data_df

C:\Users\amudd\AppData\Local\Temp\ipykernel_24524\228352138.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df['Is_Successful'] = ((movies_data_df['revenue'] - movies_data_df['budget']) > 0) & (movies_data_df['vote_average'] >= 6.3)
C:\Users\amudd\AppData\Local\Temp\ipykernel_24524\228352138.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_data_df['Is_Successful'] = movies_data_df['Is_Successful'].astype(int)

,budget,genres,original_language,popularity,revenue,runtime,vote_average,cast,director,Is_Successful
0,237000000,Action,en,150.437577,2787965087,162,7.2,Sam Worthington,James Cameron,1
1,300000000,Adventure,en,139.082615,961000000,169,6.9,Johnny Depp,Gore Verbinski,1
2,245000000,Action,en,107.376788,880674609,148,6.3,Daniel Craig,Sam Mendes,1
3,250000000,Action,en,112.312950,1084939099,165,7.6,Christian Bale,Christopher Nolan,1
4,260000000,Action,en,43.926995,284139100,132,6.1,Taylor Kitsch,Andrew Stanton,0
...,...,...,...,...,...,...,...,...,...,...
4796,7000,Science,en,23.307949,424760,77,6.9,Shane Carruth,Shane Carruth,1
4798,220000,Action,es,14.269792,2040920,81,6.6,Carlos Gallardo,Robert Rodriguez,1
4799,9000,Comedy,en,0.642552,0,85,5.9,Edward Burns,Edward Burns,0
4800,0,Comedy,en,1.444476,0,120,7.0,Eric Mabius,Scott Smith,0
4802,0,Documentary,en,1.929883,0,90,6.3,Drew Barrymore,Brian Herzlinger,0

In [16]:
movies_data_df.nunique()

budget                432
genres                 20
original_language      37
popularity           4731
revenue              3288
runtime               155
vote_average           69
cast                 2083
director             2319
Is_Successful           2
dtype: int64

In [17]:
num_successful = movies_data_df['Is_Successful'].value_counts()[1]
print(f"Number of successful movies: {num_successful}")

Number of successful movies: 1526

In [18]:
movies_data_df = movies_data_df.drop(['cast', 'director'], axis=1)
movies_data_df

,budget,genres,original_language,popularity,revenue,runtime,vote_average,Is_Successful
0,237000000,Action,en,150.437577,2787965087,162,7.2,1
1,300000000,Adventure,en,139.082615,961000000,169,6.9,1
2,245000000,Action,en,107.376788,880674609,148,6.3,1
3,250000000,Action,en,112.312950,1084939099,165,7.6,1
4,260000000,Action,en,43.926995,284139100,132,6.1,0
...,...,...,...,...,...,...,...,...
4796,7000,Science,en,23.307949,424760,77,6.9,1
4798,220000,Action,es,14.269792,2040920,81,6.6,1
4799,9000,Comedy,en,0.642552,0,85,5.9,0
4800,0,Comedy,en,1.444476,0,120,7.0,0
4802,0,Documentary,en,1.929883,0,90,6.3,0

In [21]:
movies_data_df.isna().sum()

budget               0
genres               0
original_language    0
popularity           0
revenue              0
runtime              0
vote_average         0
Is_Successful        0
dtype: int64

In [19]:
from sklearn.preprocessing import OneHotEncoder

# Create an instance of the OneHotEncoder
encoder = OneHotEncoder(handle_unknown='ignore')

# Encode the 'original_language' and 'genres' columns
cols_to_encode = ['original_language', 'genres']
df_encoded = pd.DataFrame(encoder.fit_transform(movies_data_df[cols_to_encode]).toarray(), columns=encoder.get_feature_names(cols_to_encode))

# Concatenate the encoded columns with the original dataframe
movies_data_df_encoded = pd.concat([movies_data_df.drop(cols_to_encode, axis=1), df_encoded], axis=1)
movies_data_df_encoded

C:\Users\amudd\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,budget,popularity,revenue,runtime,vote_average,Is_Successful,original_language_af,original_language_ar,original_language_cn,original_language_cs,...,genres_History,genres_Horror,genres_Music,genres_Mystery,genres_Romance,genres_Science,genres_TV,genres_Thriller,genres_War,genres_Western
0,237000000.0,150.437577,2.787965e+09,162.0,7.2,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,300000000.0,139.082615,9.610000e+08,169.0,6.9,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,245000000.0,107.376788,8.806746e+08,148.0,6.3,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,250000000.0,112.312950,1.084939e+09,165.0,7.6,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,260000000.0,43.926995,2.841391e+08,132.0,6.1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4698,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4710,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4712,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4714,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4716,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
movies_data_df_encoded.isna().sum()

budget             66
popularity         66
revenue            66
runtime            66
vote_average       66
                   ..
genres_Science     66
genres_TV          66
genres_Thriller    66
genres_War         66
genres_Western     66
Length: 63, dtype: int64

In [23]:
# Drop rows with missing values
movies_data_df_encoded.dropna(inplace=True)
movies_data_df_encoded.isna().sum()

budget             0
popularity         0
revenue            0
runtime            0
vote_average       0
                  ..
genres_Science     0
genres_TV          0
genres_Thriller    0
genres_War         0
genres_Western     0
Length: 63, dtype: int64

In [24]:
movies_data_df_encoded

,budget,popularity,revenue,runtime,vote_average,Is_Successful,original_language_af,original_language_ar,original_language_cn,original_language_cs,...,genres_History,genres_Horror,genres_Music,genres_Mystery,genres_Romance,genres_Science,genres_TV,genres_Thriller,genres_War,genres_Western
0,237000000.0,150.437577,2.787965e+09,162.0,7.2,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,300000000.0,139.082615,9.610000e+08,169.0,6.9,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,245000000.0,107.376788,8.806746e+08,148.0,6.3,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,250000000.0,112.312950,1.084939e+09,165.0,7.6,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,260000000.0,43.926995,2.841391e+08,132.0,6.1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4727,0.0,0.001117,0.000000e+00,99.0,4.9,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4728,0.0,1.680525,0.000000e+00,90.0,6.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4729,0.0,0.283970,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4730,0.0,10.826253,0.000000e+00,85.0,6.3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4731,0.0,7.676677,0.000000e+00,96.0,7.4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(movies_data_df_encoded.drop('Is_Successful', axis=1),movies_data_df_encoded['Is_Successful'], test_size=0.2, random_state=42)

# Create the logistic regression model
lr_model = LogisticRegression()

# Train the model on the training set
lr_model.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = lr_model.predict(X_test)

# Evaluate the model using classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.84      0.88      0.86       643
         1.0       0.71      0.63      0.67       291

    accuracy                           0.80       934
   macro avg       0.77      0.76      0.76       934
weighted avg       0.80      0.80      0.80       934

In [26]:
from imblearn.over_sampling import RandomOverSampler

# Define the oversampler
oversampler = RandomOverSampler(random_state=42)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(movies_data_df_encoded.drop('Is_Successful', axis=1),movies_data_df_encoded['Is_Successful'], test_size=0.2, random_state=42)

# Apply the oversampling on the training data only
X_train_resampled, y_train_resampled = oversampler.fit_resample(X_train, y_train)

# Create a new dataframe with the resampled data
df_resampled = pd.concat([pd.DataFrame(X_train_resampled, columns=X_train.columns), pd.DataFrame(y_train_resampled, columns=['Is_Successful'])], axis=1)
df_resampled

,budget,popularity,revenue,runtime,vote_average,original_language_af,original_language_ar,original_language_cn,original_language_cs,original_language_da,...,genres_Horror,genres_Music,genres_Mystery,genres_Romance,genres_Science,genres_TV,genres_Thriller,genres_War,genres_Western,Is_Successful
0,90000000.0,21.436682,162839667.0,95.0,6.3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,40000000.0,44.094856,51070807.0,93.0,6.3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,60000000.0,22.620125,119940815.0,100.0,5.8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,50000000.0,4.280619,61112916.0,98.0,4.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,65000000.0,20.793026,40002112.0,100.0,5.1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5005,19000000.0,33.872182,141407024.0,118.0,6.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
5006,11000000.0,7.645979,38105395.0,114.0,7.4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5007,1200000.0,3.085411,2861020.0,114.0,6.3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5008,6000000.0,28.819424,11122090.0,96.0,6.3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5009,8000000.0,14.793177,100523181.0,102.0,7.5,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [27]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df_resampled.drop('Is_Successful', axis=1),df_resampled['Is_Successful'], test_size=0.2, random_state=42)

# Create the logistic regression model
lr_model = LogisticRegression()

# Train the model on the training set
lr_model.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = lr_model.predict(X_test)

# Evaluate the model using classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.81      0.79      0.80       509
         1.0       0.79      0.81      0.80       493

    accuracy                           0.80      1002
   macro avg       0.80      0.80      0.80      1002
weighted avg       0.80      0.80      0.80      1002

In [30]:
from joblib import dump

# Save the trained model to a file
dump(lr_model, 'movie_success_model.joblib')

['movie_success_model.joblib']

In [31]:
# #### For the front end, you could create a form where the user can input the following features of the movie: ####

# Budget (numeric value)
# Original language (drop-down menu with available languages)
# Runtime (numeric value)
# Director (text field for the name of the director)
# Actor or actress (text field for the name of the actor or actress)
# Genre (drop-down menu with available genres)
# After the user submits the form, your ML model will take these inputs and predict whether the movie will be successful or not.